<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="formulario">
      <input #password type="text">
      <input  #email type="password">
      <button (click)="login(password, email)" >Login</button>
      <a href="#">Forgot password?</a>
    </div>
    <div class="register">
      <p>Do you want to register? <span><a href="#">Register</a></span></p>
    </div>
  </div>
</ion-content>
