<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="formulario">
      <ion-input #email label="Email" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
      <ion-input #password label="Password" label-placement="floating" fill="solid" placeholder="Enter text" type="password"></ion-input>

      <button (click)="login(password, email)" >Login</button>
      <a href="#">Forgot password?</a>
    </div>
    <div class="register">
      <p>Do you want to register? <span><a href="/register">Register</a></span></p>
    </div>
  </div>
</ion-content>
