<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="text">
      <h1>BoboChat</h1>
      <h4>Registrate y comienza hablar con tus personas favoritas en todo el mundo</h4>
    </div>
    <div class="formulario">
      <input type="text">
      <input type="text">
      <input type="password" name="" id="">
      <input type="password" name="" id="">
      <button>Registro</button>
    </div>
    <div class="terminos">
      <p>Al registrarte, aceptas nuestras Condiciones, Politica de datos y la Politica de cookies</p>
    </div>
  </div>
</ion-content>
