<ion-header [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/avatar1.png" />
      </ion-avatar>
      <ion-label>
        <h2>Nombre del contacto</h2>
        <p>Último mensaje...</p>
      </ion-label>
      <ion-note slot="end">16:04</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/avatar2.png" />
      </ion-avatar>
      <ion-label>
        <h2>Nombre del contacto</h2>
        <p>Último mensaje...</p>
      </ion-label>
      <ion-note slot="end">14:45</ion-note>
    </ion-item>
  </ion-list>

  <!-- Botón flotante para iniciar nuevo chat -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>